<div class="panel panel-default">
  <div class="panel-heading">
    <h3>{{ contact.name }}
      <a href="#">
        <button class="pull-right btn btn-danger">Delete</button>
      </a>
      <a href="#">
        <button class="btn btn-primary pull-right">Edit</button>
      </a>

    </h3>
    <img
      [src]="contact.imageUrl"
      alt="{{ contact.name }}"
      class="img-responsive"
      style="max-height: 50px;">

  </div>
  <div class="panel-body">
    <div> Email: {{ contact.email }}</div>
    <div> Phone: {{ contact.phone }}</div>
  </div>
</div>
